.icon-btn{
    border: none;
    background: transparent;
    font-size: 23px !important;
  }
  .icon-btn:hover{
    background: rgba(254, 254, 254, 0.804);
  }
  .icon-btn:active{
    background: white !important;
  }
  .sidebar-nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(184, 31, 31, 0.3);
}

.sidebar-nav::-webkit-scrollbar {
  width: 12px;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgb(88 107 135);
  background-color: rgb(88 107 135);
}